%h2.mainh2 Ekitabo Ekitukuvu
%blockquote.mainquote
  %p Naye yalina muganda we ayitibwa Malyamu, eyatuulanga awali ebigere bya Mukama waffe n’awuliranga ekigambo kye.
  %p Naye Maliza yabanga n’emitawaana egy’okuweereza okungi; n’ajja w’ali, n’amugamba nti Mukama wange, tofaayo nga muganda wange andese okuweereza nzekka? kale mugambe annyambe.
  %p Naye Mukama waffe n’addamu n’amugamba nti Maliza, Maliza, weeraliikirira, olina emitawaana egy’ebigambo bingi; naye ekyetaagibwa kiri kimu: kubanga Malyamu alonzeewo omugabo ogwo omulungi ogutalimuggibwako.
  .where
    Lukka 10
%h3.labeled#preface Ebisooka
.articles
  .article
    %h4 Bible kye Kigambo kya Katonda
    .copy
      %p Buli lwosoma Bible, obeera owulirira-ddala ekigambo kya Katonda.
      %p Era bwob’a ng’oyagala okuwulira Katonda ky’agamba, tewali ngeri esinga eno: ggula-wo Bible eno wonna wosanze. Kibeera kilungi Bible n’esomebwa nga waliwo system eyengeri egobererwa; ndaba ebigambo bino tebyamala gawandiikibwa nga tewali system egobererwa. Naye wadde ng’ekyo bwekiri, era ne kino kisigala nga kituufu, nti buli lwosoma Bible—kalubeere lulimi kyi, oba mu ngeri kyi—obeera owuliriza bigambo bya Katonda, newankubadde ebigambo tulinga ababiguddeko mu kalulu.
  .article
    %h4 Yesu Kristo ye Kigambo
    .copy
      %p Yesu Kristo ye Kigambo; mu Ye Katonda mwe yatondera buli kitonde; teri kyali kitondebwa awatali Ye. Ekikulu Bible kyetugamba kiikino: “Yesu Kristo.”
      %p Mukama waffe Yesu Kristo wali mu kusooka, mu Lubereberye 1:1, era n’akomawo okubeera naffe mu Kubikkulirwa 22:20-21. Yesu abunye eluuyi-n’eluuyi wa Bible kubanga Bible yiYe.
      %p Obutukuvu obwayimbibwa-nga aba Zzabbuli bwebutukuvu bwe; Kristo ye butuukirivu bwaffe, abalanzi ne ba nnabbi gwe bayogerako. Enjiri ge makulu g’amateeka, “olw’okuweesa obutuukirivu buli akkiriza Katonda.”
      %p “Ekigambo kya Katonda ekibeerawo emirembe n’emirembe” ku mpapula-obupapula kyefaananyirizaamu okujja-ku-nsi kwa Kigamo, Yesu Kriso ow’e Nazareth.
  .article
    %h4 Ekigambo kya Katonda Ekitagwaawo
    .copy
      %p Kaakati-nno, nga Yesu naye bwali omuntu ddala, ne Bible kitabo ddala. Ng’era ebitabo ebilala, buli lwetukivvuunula wabeerawo ebizibu okuvvuunula; n’abakoppa ebyawandiikibwa olaba nti nabo bantu-buntu; ate era buli kitabo kituuka nekivunda. Naye ate era Bible ya Katonda, ng’era Yesu bwali Katonda ddala. Buli kigambo muno kyaweebwa Mwoyo; buli Bible yonna kitabo kitukuvu; buli kimu kyetutegeeza kituufu olubeerera.
      %p Abantu kyebalowooza ku Bible tekirina kyekigikyuusaako, wadde abagiwagira, wadde abatagiwagira. Ebyokuwakana ku Bible bibeerawo kilyoke kimanyibwe b’ani abawagira amazima, era b’ani abawagira obulimba. Era nga abo abanafuna obulamu obw’emirembe-ne-mirembe bwe bakkiriza Kristo, bwebatyo bwebakirizza Bible. Abasigadde ‘bo tubalaba nga bäkuzikirira bwe bongera obutawa Kristo kitiibwa k’Ye, n’okuyisa Bible ng’ekitabo-obutabo.
      %p Olwokub’a nga kitabo kya Katonda, Bible teriyonooneka. Ennimi zijjya ne zigenda, empuliziganya ne zijjya ne zigenda, era bwezityo n’entaputa n’empandiika, n’ebiwandiike ebyedda ne copies empya, ne traditions z’okutaputa n’ebiwandiikibwa okuyamba abasomi, n’ebiteekebwa-wo okunnyonyola omusomi era n’okulongoosa ensoma, byonna-byonna bijja ne bigenda. Naye Bible yennyini yakubeerawo ‘paka ku nkomerero kubanga ye kigambo kya Katonda.
      %p Katonda yetegereza nnyo buli Bible na buli message eya Bible—buli wesomebwa, wewandiikibwa, buli wamu ekigambo wekitegeezebwa—alyooke akuume ekigambo n’obujjya, nga bwasasula abakissaamu ekitiibwa ne bakibunya wonna, n’okubonereza abo abakyesimba-mu. Ndaba era Bible emaliriza bweti, nti: “Ntegeeza buli muntu awulira ebigambo eby’obunnabi obw’ekitabo kino nti Omuntu yenna bw’ayongerangako ku byo, Katonda alyongerako ku ye ebibonyoobonyo ebiwandiikiddwa mu kitabo kino: era omuntu yenna bw’aggyangamu mu bigambo eby’ekitabo eky’obunnabbi buno, Katonda aliggyako omugabo gwe ku muti ogw’obulamu, ne mu kibuga ekitukuvu, ebiwandiikiddwa mu kitabo kino.”
      %p N’olw’ekyo Mwoyo atukakasa nti bwetusoma Bible eno, tusoma kigambo kya Katonda. Amiina.
  .article
    %h4 Ebisomo
    .copy
      %p Ebisomo bino by’ategekebwa mu biseera eby’edda ennyo, era nga biyamba okusoma Endagaano Empya yonna mu mwâka gumu. Bino bikuyamba okusoma 
      %p Era n’obusomo Akagumya-Mutima obwa buli lunaku lw’omwaka nabwo gyebuli emabega wa Bible eno.
    .lectionary
      = calendar('rp.xml', 'rp.haml')
  .article
    %h4 Easter Paasika: 2000-2199
    .copy
      %table{style: 'width: 100%; page-break-inside: avoid;'}
        %thead
          %tr
            %th{colspan: '5'}
              %blockquote.mainquote
                %p
                  Awo ku lunaku olusooka mu nnaku omusanvu, Malyamu Magudaleene n’ajja mu matulutulu, nga tebunnalaba, eri entaana, n’alaba ng’ejjinja liggiddwa ku ntaana.
                  .where
                    John 20
        %tbody
          %tr
            %td.edt 23<sup>rd</sup> April 2000
            %td.edt 15<sup>th</sup> April 2001
            %td.edt 31<sup>st</sup> March 2002
            %td.edt 20<sup>th</sup> April 2003
            %td.edt 11<sup>th</sup> April 2004
          %tr
            %td.edt 27<sup>th</sup> March 2005
            %td.edt 16<sup>th</sup> April 2006
            %td.edt  8<sup>th</sup> April 2007
            %td.edt 23<sup>rd</sup> March 2008
            %td.edt 12<sup>th</sup> April 2009
          %tr
            %td.edt  4<sup>th</sup> April 2010
            %td.edt 24<sup>th</sup> April 2011
            %td.edt  8<sup>th</sup> April 2012
            %td.edt 31<sup>st</sup> March 2013
            %td.edt 20<sup>th</sup> April 2014
          %tr
            %td.edt  5<sup>th</sup> April 2015
            %td.edt 27<sup>th</sup> March 2016
            %td.edt 16<sup>th</sup> April 2017
            %td.edt  1<sup>st</sup> April 2018
            %td.edt 21<sup>st</sup> April 2019
          %tr
            %td.edt 12<sup>th</sup> April 2020
            %td.edt  4<sup>th</sup> April 2021
            %td.edt 17<sup>th</sup> April 2022
            %td.edt  9<sup>th</sup> April 2023
            %td.edt 31<sup>st</sup> March 2024
          %tr
            %td.edt 20<sup>th</sup> April 2025
            %td.edt  5<sup>th</sup> April 2026
            %td.edt 28<sup>th</sup> March 2027
            %td.edt 16<sup>th</sup> April 2028
            %td.edt  1<sup>st</sup> April 2029
          %tr
            %td.edt 21<sup>st</sup> April 2030
            %td.edt 13<sup>th</sup> April 2031
            %td.edt 28<sup>th</sup> March 2032
            %td.edt 17<sup>th</sup> April 2033
            %td.edt  9<sup>th</sup> April 2034
          %tr
            %td.edt 25<sup>th</sup> March 2035
            %td.edt 13<sup>th</sup> April 2036
            %td.edt  5<sup>th</sup> April 2037
            %td.edt 25<sup>th</sup> April 2038
            %td.edt 10<sup>th</sup> April 2039
          %tr
            %td.edt  1<sup>st</sup> April 2040
            %td.edt 21<sup>st</sup> April 2041
            %td.edt  6<sup>th</sup> April 2042
            %td.edt 29<sup>th</sup> March 2043
            %td.edt 17<sup>th</sup> April 2044
          %tr
            %td.edt  9<sup>th</sup> April 2045
            %td.edt 25<sup>th</sup> March 2046
            %td.edt 14<sup>th</sup> April 2047
            %td.edt  5<sup>th</sup> April 2048
            %td.edt 18<sup>th</sup> April 2049
          %tr
            %td.edt 10<sup>th</sup> April 2050
            %td.edt  2<sup>nd</sup> April 2051
            %td.edt 21<sup>st</sup> April 2052
            %td.edt  6<sup>th</sup> April 2053
            %td.edt 29<sup>th</sup> March 2054
          %tr
            %td.edt 18<sup>th</sup> April 2055
            %td.edt  2<sup>nd</sup> April 2056
            %td.edt 22<sup>nd</sup> April 2057
            %td.edt 14<sup>th</sup> April 2058
            %td.edt 30<sup>th</sup> March 2059
          %tr
            %td.edt 18<sup>th</sup> April 2060
            %td.edt 10<sup>th</sup> April 2061
            %td.edt 26<sup>th</sup> March 2062
            %td.edt 15<sup>th</sup> April 2063
            %td.edt  6<sup>th</sup> April 2064
          %tr
            %td.edt 29<sup>th</sup> March 2065
            %td.edt 11<sup>th</sup> April 2066
            %td.edt  3<sup>rd</sup> April 2067
            %td.edt 22<sup>nd</sup> April 2068
            %td.edt 14<sup>th</sup> April 2069
          %tr
            %td.edt 30<sup>th</sup> March 2070
            %td.edt 19<sup>th</sup> April 2071
            %td.edt 10<sup>th</sup> April 2072
            %td.edt 26<sup>th</sup> March 2073
            %td.edt 15<sup>th</sup> April 2074
          %tr
            %td.edt  7<sup>th</sup> April 2075
            %td.edt 19<sup>th</sup> April 2076
            %td.edt 11<sup>th</sup> April 2077
            %td.edt  3<sup>rd</sup> April 2078
            %td.edt 23<sup>rd</sup> April 2079
          %tr
            %td.edt  7<sup>th</sup> April 2080
            %td.edt 30<sup>th</sup> March 2081
            %td.edt 19<sup>th</sup> April 2082
            %td.edt  4<sup>th</sup> April 2083
            %td.edt 26<sup>th</sup> March 2084
          %tr
            %td.edt 15<sup>th</sup> April 2085
            %td.edt 31<sup>st</sup> March 2086
            %td.edt 20<sup>th</sup> April 2087
            %td.edt 11<sup>th</sup> April 2088
            %td.edt  3<sup>rd</sup> April 2089
          %tr
            %td.edt 16<sup>th</sup> April 2090
            %td.edt  8<sup>th</sup> April 2091
            %td.edt 30<sup>th</sup> March 2092
            %td.edt 12<sup>th</sup> April 2093
            %td.edt  4<sup>th</sup> April 2094
          %tr
            %td.edt 24<sup>th</sup> April 2095
            %td.edt 15<sup>th</sup> April 2096
            %td.edt 31<sup>st</sup> March 2097
            %td.edt 20<sup>th</sup> April 2098
            %td.edt 12<sup>th</sup> April 2099
          %tr
            %td.edt 28<sup>th</sup> March 2100
            %td.edt 17<sup>th</sup> April 2101
            %td.edt 9<sup>th</sup> April 2102
            %td.edt 25<sup>th</sup> March 2103
            %td.edt 13<sup>th</sup> April 2104
          %tr
            %td.edt 5<sup>th</sup> April 2105
            %td.edt 18<sup>th</sup> April 2106
            %td.edt 10<sup>th</sup> April 2107
            %td.edt 1<sup>st</sup> April 2108
            %td.edt 21<sup>st</sup> April 2109
          %tr
            %td.edt 6<sup>th</sup> April 2110
            %td.edt 29<sup>th</sup> March 2111
            %td.edt 17<sup>th</sup> April 2112
            %td.edt 2<sup>nd</sup> April 2113
            %td.edt 22<sup>nd</sup> April 2114
          %tr
            %td.edt 14<sup>th</sup> April 2115
            %td.edt 29<sup>th</sup> March 2116
            %td.edt 18<sup>th</sup> April 2117
            %td.edt 10<sup>th</sup> April 2118
            %td.edt 26<sup>th</sup> March 2119
          %tr
            %td.edt 14<sup>th</sup> April 2120
            %td.edt 6<sup>th</sup> April 2121
            %td.edt 29<sup>th</sup> March 2122
            %td.edt 11<sup>th</sup> April 2123
            %td.edt 2<sup>nd</sup> April 2124
          %tr
            %td.edt 22<sup>nd</sup> April 2125
            %td.edt 14<sup>th</sup> April 2126
            %td.edt 30<sup>th</sup> March 2127
            %td.edt 18<sup>th</sup> April 2128
            %td.edt 10<sup>th</sup> April 2129
          %tr
            %td.edt 26<sup>th</sup> March 2130
            %td.edt 15<sup>th</sup> April 2131
            %td.edt 6<sup>th</sup> April 2132
            %td.edt 19<sup>th</sup> April 2133
            %td.edt 11<sup>th</sup> April 2134
          %tr
            %td.edt 3<sup>rd</sup> April 2135
            %td.edt 22<sup>nd</sup> April 2136
            %td.edt 7<sup>th</sup> April 2137
            %td.edt 30<sup>th</sup> March 2138
            %td.edt 19<sup>th</sup> April 2139
          %tr
            %td.edt 3<sup>rd</sup> April 2140
            %td.edt 26<sup>th</sup> March 2141
            %td.edt 15<sup>th</sup> April 2142
            %td.edt 31<sup>st</sup> March 2143
            %td.edt 19<sup>th</sup> April 2144
          %tr
            %td.edt 11<sup>th</sup> April 2145
            %td.edt 3<sup>rd</sup> April 2146
            %td.edt 16<sup>th</sup> April 2147
            %td.edt 7<sup>th</sup> April 2148
            %td.edt 30<sup>th</sup> March 2149
          %tr
            %td.edt 12<sup>th</sup> April 2150
            %td.edt 4<sup>th</sup> April 2151
            %td.edt 23<sup>rd</sup> April 2152
            %td.edt 15<sup>th</sup> April 2153
            %td.edt 31<sup>st</sup> March 2154
          %tr
            %td.edt 20<sup>th</sup> April 2155
            %td.edt 11<sup>th</sup> April 2156
            %td.edt 27<sup>th</sup> March 2157
            %td.edt 16<sup>th</sup> April 2158
            %td.edt 8<sup>th</sup> April 2159
          %tr
            %td.edt 23<sup>rd</sup> March 2160
            %td.edt 12<sup>th</sup> April 2161
            %td.edt 4<sup>th</sup> April 2162
            %td.edt 24<sup>th</sup> April 2163
            %td.edt 8<sup>th</sup> April 2164
          %tr
            %td.edt 31<sup>st</sup> March 2165
            %td.edt 20<sup>th</sup> April 2166
            %td.edt 5<sup>th</sup> April 2167
            %td.edt 27<sup>th</sup> March 2168
            %td.edt 16<sup>th</sup> April 2169
          %tr
            %td.edt 1<sup>st</sup> April 2170
            %td.edt 21<sup>st</sup> April 2171
            %td.edt 12<sup>th</sup> April 2172
            %td.edt 4<sup>th</sup> April 2173
            %td.edt 17<sup>th</sup> April 2174
          %tr
            %td.edt 9<sup>th</sup> April 2175
            %td.edt 31<sup>st</sup> March 2176
            %td.edt 20<sup>th</sup> April 2177
            %td.edt 5<sup>th</sup> April 2178
            %td.edt 28<sup>th</sup> March 2179
          %tr
            %td.edt 16<sup>th</sup> April 2180
            %td.edt 1<sup>st</sup> April 2181
            %td.edt 21<sup>st</sup> April 2182
            %td.edt 13<sup>th</sup> April 2183
            %td.edt 28<sup>th</sup> March 2184
          %tr
            %td.edt 17<sup>th</sup> April 2185
            %td.edt 9<sup>th</sup> April 2186
            %td.edt 25<sup>th</sup> March 2187
            %td.edt 13<sup>th</sup> April 2188
            %td.edt 5<sup>th</sup> April 2189
          %tr
            %td.edt 25<sup>th</sup> April 2190
            %td.edt 10<sup>th</sup> April 2191
            %td.edt 1<sup>st</sup> April 2192
            %td.edt 21<sup>st</sup> April 2193
            %td.edt 6<sup>th</sup> April 2194
          %tr
            %td.edt 29<sup>th</sup> March 2195
            %td.edt 17<sup>th</sup> April 2196
            %td.edt 9<sup>th</sup> April 2197
            %td.edt 25<sup>th</sup> March 2198
            %td.edt 14<sup>th</sup> April 2199
%blockquote.mainquote
  Eyali afudde n’afuluma, ng’azingiddwa mu mabugo amagulu n’emikono; n’ekiremba nga kisibiddwa mu maaso ge. Yesu n’abagamba nti Mumusumulule, mumuleke agende.
  .where
    John 11
%h3.labeled.cleared#creeds Enzikiriza
%blockquote.mainquote
  Na kino kye kiragiro kye, tukkirize erinnya ly’Omwana we Yesu Kristo, era twagalanenga, nga bwe yatuwa ekiragiro.
  .where
    1 John 3
.articles
  .article
    %h4 Enzikiriza y’Abatume
    .copy
      %p
        Tukkiriza mu Katonda Kitaffe ayinza byonna, omutonzi w’eggulu n’ensi.
      %p
        Tukkiriza mu Yesu Kristo, omwana we omu-bwati, Mukama waffe.
      %p
        Yazaalibwa omuwala atamanyi-musajja Mariamu, eyali olubuto ku bw’amaanyi ga Mwoyo-Mutukuvu.
      %p
        Mu biseera bya Pontius Pilate, yakomererwa ku musaalaba, n’äfa, n’äzïkibwa.
      %p
        N’akkirira e Magombe, mu bafu. Ku lunaku olwokusatu n’azuukira.
      %p
        N’alinnya eri mu ggulu, era atudde ku mukono ogwa ddyo ogwa Kitaffe.
      %p
        Alikomawo, okusala omusango gw’abalamu n’abafu.
      %p
        Tukiriza mu Mwoyo-Mutukuvu,
      %p
        —N’ekkanisa entukuvu ey’ensi yonna, n’okussa-ekimu okw’abatukuvu,
      %p
        —N’okusonyiyibwa ebibi,
      %p
        —N’okuzuukira okw’omubiri,
      %p
        —N’obulamu obw’emirembe n’emirembe.
      %p
        Amiina.
.articles
  .article
    %h4 Enzikiriza y’e Nîke
    .copy
      %p
        Tukkiriza mu Katonda omu, Kitaffe ayinza-byonna, omutonzi w’eggulu n’ensi, na byonna ebirabika n’ebitalabika.
      %p
        Ne mu Mukama waffe omu, Yesu Kristo, omwana wa Katonda omu-bwati, eyazalibwa Katonda nga tewali n’ekimu kyali kibaddewo: Katonda mu Katonda, Ttaala mu Ttaala, Katonda Ddala mu Katonda Ddala—yè muzaale, ssi mutonde—nga wa kika kimu kya Kitaffe;
      %p
        —Byonna byakolebwa mu ye;
      %p
        —Ku lwaffe, ku lw’okutuwonya, yakka okuva mu ggulu, nafuulibwa omubiri ku bwa Mwoyo-Mutukuvu mu nda ya atamanyi-musajja Mariamu, n’afuulibwa omuntu;
      %p
        —Yakomererwa ku musaalaba mu biseera bya Pontius Pilate, n’abonä-bonâ, n’äfa, n’äzïkibwa, era ku lunaku olw’okusatu n’azuukira nate, ng’era bwekyawandiikibwa, n’ayalinnya eri mu ggulu, era atudde ku mukono ogwa ddyo ogwa Kitaffe;
      %p
        —Aliväyo nate, n’obuyinza, okusala omusango gwabalamu n’abafu;
      %p
        —Obwakabaka bwe tebulikoma.
      %p
        Era <i>tukikiriza ne</i> mu Mwoyo-Mutukuvu, oyo Mukama era Nnyini-Bulamu, ava eri Kitaffe n’Omwana, era oyo gwetusinza netumugulumiza wamu ne Kitaffe n’Omwana; oyo eyayogera mu bannabi abalänzi.
      %p
        Era <i>tukkiriza ne</i> mu kkanisa emu-bwêti entukuvu ey’ensi yonna ey’abatume; ffe tumanyi okubatiza kumu-bwekuti olwokusonyiyibwa ebibi; <i>era</i> tulindiridde okuzuukira kw’abafû, n’obulamû bw’omulembe ogujja.
      %p Amiina.
