.preface
  %h2.mainh2#index Ebisemba-yo
  %blockquote.mainquote
    %p Awo Danyeri bwe yamanya ng’ebiwandiikiddwa bissibbwako akabonero, n’ayingira mu myumba ye: (era amadirisa ge gaali gagguddwawo mu nju ye nga goolekedde Yerusaalemi;) n’afukamiranga ku maviivi ge emirundi esatu buli lunaku, n’asaba, ne yebaza mu maaso ga Katonda we, nga bwe yakolanga edda.
    .where
      Daniel 6
  %h3.labeled#devotional Akagumya-Mutima
  .devotional
    = devotional('daylight.xml', 'daylight.haml')
