.preface
  %h2.mainh2#index Index
  %blockquote.mainquote
    %p And when Daniel knew that the decree was ordered, he went into his house. And his windows were opened in his chambers toward Jerusalem, and three times in the day he knelt upon his knees, and prayed and gave thanks before his God, as he used to do before.
    .where
      Daniel 6
  %h3.labeled#devotional Devotional
  .devotional
    = devotional('daylight.xml', 'daylight.haml')
