%h2.mainh2 The Free Christian Scriptures
%blockquote.mainquote
  %p She had a sister called Mary, who seated herself at the Lord’s feet, and listened to his teaching; but Martha was distracted by the many preparations that she was making.
  %p So she went up to Jesus and said: “Lord, do you approve of my sister’s leaving me to make preparations alone? Tell her to help me.”
  %p “Martha, Martha,” replied the Lord, “you are anxious and trouble yourself about many things; but only a few are necessary, or rather One. Mary has chosen the good part, and it will not be taken away from her.”
  .where
    Luke 10
%h3.labeled#preface Preface
.articles
  .article
    %h4 The Bible is the Word of God
    .copy
      %p Every single time you read the message of the Bible, you are hearing directly from God.
      %p For those who seek to hear from God, there is no simpler or more-direct way to do it than to open the Bible at random. It is desirable, of course, that one follow disciplines in reading the Bible, for these words were not written randomly or without context. Nevertheless, it remains true that when it is suitably applied, every single instance of reading the Bible in whatever language or form is a direct communication from God, even when the passage has been arrived at by means that, from our view, are random.
  .article
    %h4 Jesus Christ, the Word
    .copy
      %p Jesus Christ is the Word by Whom God created every created thing; nothing was ever created without Him. The basic message of the Bible is this: “Jesus Christ.”
      %p The Lord Jesus is in the beginning, at Genesis 1:1, and returns to be with us at Revelation 22:20-21. Jesus brackets the Bible, because it is His Bible.
      %p
        It is of His holiness the psalmists sang, and it is of Christ our Righteousness the prophets spoke. The Gospel is the point of the Law, “so that righteousness may be obtained by everyone who believes in God.”
      %p That “the incorruptible seed of the word of God” should be carried about on thin pages is a type of the incarnation of the Word, Jesus the carpenter from Nazareth.
  .article
    %h4 The Incorruptible Word of God
    .copy
      %p Therefore, just as Jesus is fully human, the Bible is fully book. Every translation suffers linguistic difficulties; every manuscript reflects the human; every book suffers decay. Yet the Bible is fully divine, just as Jesus is fully God. Every word is inspired by the Spirit; every Bible holy; every assertion eternally true.
      %p The Bible’s validity doesn’t depend on the opinions of men, neither those who support it nor those who oppose it. Debates concerning the Bible only ever happen in order to expose the agents of truth and the agents of falsity. Just as those who are destined for life believe in Jesus Christ, the Son of God, so also they believe in the Bible, the word of God. The rest show themselves reprobate by insisting that Christ is just a-great-this-or-that, and that the Bible is only a book.
      %p By virtue of being the word of God, the Bible is incorruptible. Languages come and go, media come and go, translations and versions, manuscripts and copies, traditions and targums, glosses and criticisms, they all come and go. But the Bible is here until the end, because it is the word of God.
      %p God watches over every Bible and every message of the Bible—wherever it is read, printed, or otherwise communicated—to jealously guard His word, rewarding those who respect and perpetuate it, and punishing those who set themselves up against it. The Bible, after all, concludes thus: “I declare to all who hear the words of the prophecy contained in this book: if anyone adds to it, God will add to his troubles the curses described in this book; and if anyone takes away any of the words in the book containing this prophecy, God will take away his share in the Tree of life, and in the Holy City—as described in this book.”
      %p Therefore the Spirit witnesses to us that when we read this Bible, we are reading the word of God. Amen.
  .article
    %h4 Inspired Manuscripts
    .copy
      %p The original manuscripts of the Bible were free from error, and entirely without reproach, every word being God-breathed. The Holy Spirit spoke by the ancient writers in a diversity of circumstances, and in several languages.
      %p This inspiration extends to every translation, copy, gloss, paraphrase, quotation, reading, or recording that is executed under the guidance of God, regardless of the weaknesses of the individuals who execute it.
  .article
    %h4 The Septuagint Manuscript Family
    .copy
      %p In the past, the Old Testament was translated to the Greek language, and God thereby began a new scriptural tradition. The Holy Spirit preserved particular idiosyncracies in this scriptural tradition, which were validated by God in the New Testament.
      %p It pleased God to preserve this validated manuscript tradition alongside the one in the Hebrew language, such that there are two that are used by the people of God. Historically, this family of manuscripts in the Greek language was known as the “Septuagint.”
      %p Being the incorruptible word of God, the Septuagint remains a rich and valid alternative scriptural tradition for the Old Testament.
  .article
    %h4 Brenton Septuagint
    .copy
      %p In 1844, an inspired translation of the Septuagint into English was executed from the original Greek language. This “Brenton Septuagint” is what has been included in <i>The Free Christian Scriptures</i> for the Old Testament.
      %p The glosses that the Brenton Septuagint indicates are set in a distinguishing italicised font.
  .article
    %h4 The Masoretic Tradition
    .copy
      %p The scriptural tradition of the Old Testament in the Hebrew language, commonly called the “Masoretic,” has been used as the guide for indexing and reference devices, with provisions for tradition-specific extensions of the canon.
      %p Where it has been required for the purposes of harmonising the indexing and reference devices of the Masoretic with the Septuagint base, individual verses have been imported from the Masoretic and set with a distinctive, reduced-size font into the corresponding position of the text.
      %p The English verses of the Masoretic tradition have been based on an ancient inspired version, the King James Version.
  .article
    %h4 Westcott-Hort and Textus-Receptus
    .copy
      %p God having inspired the New Testament, He preserved it throughout subsequent manuscript traditions such that two valid manuscript traditions of the New Testament were evident.
      %p The tradition known as “Textus Receptus” collected legitimate glosses and explanatory devices, while the tradition known as “Westcott-Hort” sought the most-primitive form of the text.
      %p These two traditions, both being the incorruptible word of God, present two legitimate sources of editing precedents.
  .article
    %h4 The 20<sup>th</sup> Century New Testament
    .copy
      %p Basing mainly on Westcott-Hort, an inspired translation of the New Testament into modern English was executed in 1904. This edition, which was called “The 20<sup>th</sup> Century New Testament,” has been used for the New Testament in <i>The Free Christian Scriptures</i>.
      %p The original translation had paid special acknowledgement to some particular glosses found in the Textus-Receptus tradition. They have been incorporated into the text of <i>The Free Christian Scriptures</i> without differentiation. All other lacunæ with respect to Textus-Receptus have been retained.
  .article
    %h4 The Free Christian Scriptures
    .copy
      %p
        This edition of the Bible is issued in PDF format with a navigable menu enabled.
      %p
        To facilitate use with common office stationery and desktop publishing tools, the PDF file of the Bible is generated in A4 size.
      %p
        Editing of the base texts has been largely for the purposes of marking up traditional passages in the Old Testament, and updating language in the New Testament, in keeping with the translation and editing philosophies of the base texts themselves.
  .article
    %h4 Creeds and Theology
    .copy
      %p This Bible has no textual-critical footnotes, that the word of God may stand in stark isolation and claim full contemplation, as long-time students of the Scriptures would generally prefer. However, the <i>The Free Christian Scriptures</i> is also fit for those who are new to the Faith, as it includes the two traditional creeds of the universal Christian church, and the three accepted explanations of soteriology incorporating their traditional Bible references.
  .article
    %h4 Lectionary
    .copy
      %p To facilitate an ordered reading of the New Testament in one year, an ancient lectionary has been included which is based on actual days of the year, such that it is essentially a table of readings for specific dates on the year, rather than a traditional lectionary that distributes the readings over the traditional annual periods.
      %p A daily devotional is included, at the back of the Bible.
    .lectionary
      = calendar('rp.xml', 'rp.haml')
  .article
    %h4 Easter Dates: 2000-2199
    .copy
      %table{style: 'width: 100%; page-break-inside: avoid;'}
        %thead
          %tr
            %th{colspan: '5'}
              %blockquote.mainquote
                %p
                  On the first day of the week, early in the morning, while it was still dark, Mary of Magdala went to the tomb, and saw that the stone had been removed.
                  .where
                    John 20
        %tbody
          %tr
            %td.edt 23<sup>rd</sup> April 2000
            %td.edt 15<sup>th</sup> April 2001
            %td.edt 31<sup>st</sup> March 2002
            %td.edt 20<sup>th</sup> April 2003
            %td.edt 11<sup>th</sup> April 2004
          %tr
            %td.edt 27<sup>th</sup> March 2005
            %td.edt 16<sup>th</sup> April 2006
            %td.edt  8<sup>th</sup> April 2007
            %td.edt 23<sup>rd</sup> March 2008
            %td.edt 12<sup>th</sup> April 2009
          %tr
            %td.edt  4<sup>th</sup> April 2010
            %td.edt 24<sup>th</sup> April 2011
            %td.edt  8<sup>th</sup> April 2012
            %td.edt 31<sup>st</sup> March 2013
            %td.edt 20<sup>th</sup> April 2014
          %tr
            %td.edt  5<sup>th</sup> April 2015
            %td.edt 27<sup>th</sup> March 2016
            %td.edt 16<sup>th</sup> April 2017
            %td.edt  1<sup>st</sup> April 2018
            %td.edt 21<sup>st</sup> April 2019
          %tr
            %td.edt 12<sup>th</sup> April 2020
            %td.edt  4<sup>th</sup> April 2021
            %td.edt 17<sup>th</sup> April 2022
            %td.edt  9<sup>th</sup> April 2023
            %td.edt 31<sup>st</sup> March 2024
          %tr
            %td.edt 20<sup>th</sup> April 2025
            %td.edt  5<sup>th</sup> April 2026
            %td.edt 28<sup>th</sup> March 2027
            %td.edt 16<sup>th</sup> April 2028
            %td.edt  1<sup>st</sup> April 2029
          %tr
            %td.edt 21<sup>st</sup> April 2030
            %td.edt 13<sup>th</sup> April 2031
            %td.edt 28<sup>th</sup> March 2032
            %td.edt 17<sup>th</sup> April 2033
            %td.edt  9<sup>th</sup> April 2034
          %tr
            %td.edt 25<sup>th</sup> March 2035
            %td.edt 13<sup>th</sup> April 2036
            %td.edt  5<sup>th</sup> April 2037
            %td.edt 25<sup>th</sup> April 2038
            %td.edt 10<sup>th</sup> April 2039
          %tr
            %td.edt  1<sup>st</sup> April 2040
            %td.edt 21<sup>st</sup> April 2041
            %td.edt  6<sup>th</sup> April 2042
            %td.edt 29<sup>th</sup> March 2043
            %td.edt 17<sup>th</sup> April 2044
          %tr
            %td.edt  9<sup>th</sup> April 2045
            %td.edt 25<sup>th</sup> March 2046
            %td.edt 14<sup>th</sup> April 2047
            %td.edt  5<sup>th</sup> April 2048
            %td.edt 18<sup>th</sup> April 2049
          %tr
            %td.edt 10<sup>th</sup> April 2050
            %td.edt  2<sup>nd</sup> April 2051
            %td.edt 21<sup>st</sup> April 2052
            %td.edt  6<sup>th</sup> April 2053
            %td.edt 29<sup>th</sup> March 2054
          %tr
            %td.edt 18<sup>th</sup> April 2055
            %td.edt  2<sup>nd</sup> April 2056
            %td.edt 22<sup>nd</sup> April 2057
            %td.edt 14<sup>th</sup> April 2058
            %td.edt 30<sup>th</sup> March 2059
          %tr
            %td.edt 18<sup>th</sup> April 2060
            %td.edt 10<sup>th</sup> April 2061
            %td.edt 26<sup>th</sup> March 2062
            %td.edt 15<sup>th</sup> April 2063
            %td.edt  6<sup>th</sup> April 2064
          %tr
            %td.edt 29<sup>th</sup> March 2065
            %td.edt 11<sup>th</sup> April 2066
            %td.edt  3<sup>rd</sup> April 2067
            %td.edt 22<sup>nd</sup> April 2068
            %td.edt 14<sup>th</sup> April 2069
          %tr
            %td.edt 30<sup>th</sup> March 2070
            %td.edt 19<sup>th</sup> April 2071
            %td.edt 10<sup>th</sup> April 2072
            %td.edt 26<sup>th</sup> March 2073
            %td.edt 15<sup>th</sup> April 2074
          %tr
            %td.edt  7<sup>th</sup> April 2075
            %td.edt 19<sup>th</sup> April 2076
            %td.edt 11<sup>th</sup> April 2077
            %td.edt  3<sup>rd</sup> April 2078
            %td.edt 23<sup>rd</sup> April 2079
          %tr
            %td.edt  7<sup>th</sup> April 2080
            %td.edt 30<sup>th</sup> March 2081
            %td.edt 19<sup>th</sup> April 2082
            %td.edt  4<sup>th</sup> April 2083
            %td.edt 26<sup>th</sup> March 2084
          %tr
            %td.edt 15<sup>th</sup> April 2085
            %td.edt 31<sup>st</sup> March 2086
            %td.edt 20<sup>th</sup> April 2087
            %td.edt 11<sup>th</sup> April 2088
            %td.edt  3<sup>rd</sup> April 2089
          %tr
            %td.edt 16<sup>th</sup> April 2090
            %td.edt  8<sup>th</sup> April 2091
            %td.edt 30<sup>th</sup> March 2092
            %td.edt 12<sup>th</sup> April 2093
            %td.edt  4<sup>th</sup> April 2094
          %tr
            %td.edt 24<sup>th</sup> April 2095
            %td.edt 15<sup>th</sup> April 2096
            %td.edt 31<sup>st</sup> March 2097
            %td.edt 20<sup>th</sup> April 2098
            %td.edt 12<sup>th</sup> April 2099
          %tr
            %td.edt 28<sup>th</sup> March 2100
            %td.edt 17<sup>th</sup> April 2101
            %td.edt 9<sup>th</sup> April 2102
            %td.edt 25<sup>th</sup> March 2103
            %td.edt 13<sup>th</sup> April 2104
          %tr
            %td.edt 5<sup>th</sup> April 2105
            %td.edt 18<sup>th</sup> April 2106
            %td.edt 10<sup>th</sup> April 2107
            %td.edt 1<sup>st</sup> April 2108
            %td.edt 21<sup>st</sup> April 2109
          %tr
            %td.edt 6<sup>th</sup> April 2110
            %td.edt 29<sup>th</sup> March 2111
            %td.edt 17<sup>th</sup> April 2112
            %td.edt 2<sup>nd</sup> April 2113
            %td.edt 22<sup>nd</sup> April 2114
          %tr
            %td.edt 14<sup>th</sup> April 2115
            %td.edt 29<sup>th</sup> March 2116
            %td.edt 18<sup>th</sup> April 2117
            %td.edt 10<sup>th</sup> April 2118
            %td.edt 26<sup>th</sup> March 2119
          %tr
            %td.edt 14<sup>th</sup> April 2120
            %td.edt 6<sup>th</sup> April 2121
            %td.edt 29<sup>th</sup> March 2122
            %td.edt 11<sup>th</sup> April 2123
            %td.edt 2<sup>nd</sup> April 2124
          %tr
            %td.edt 22<sup>nd</sup> April 2125
            %td.edt 14<sup>th</sup> April 2126
            %td.edt 30<sup>th</sup> March 2127
            %td.edt 18<sup>th</sup> April 2128
            %td.edt 10<sup>th</sup> April 2129
          %tr
            %td.edt 26<sup>th</sup> March 2130
            %td.edt 15<sup>th</sup> April 2131
            %td.edt 6<sup>th</sup> April 2132
            %td.edt 19<sup>th</sup> April 2133
            %td.edt 11<sup>th</sup> April 2134
          %tr
            %td.edt 3<sup>rd</sup> April 2135
            %td.edt 22<sup>nd</sup> April 2136
            %td.edt 7<sup>th</sup> April 2137
            %td.edt 30<sup>th</sup> March 2138
            %td.edt 19<sup>th</sup> April 2139
          %tr
            %td.edt 3<sup>rd</sup> April 2140
            %td.edt 26<sup>th</sup> March 2141
            %td.edt 15<sup>th</sup> April 2142
            %td.edt 31<sup>st</sup> March 2143
            %td.edt 19<sup>th</sup> April 2144
          %tr
            %td.edt 11<sup>th</sup> April 2145
            %td.edt 3<sup>rd</sup> April 2146
            %td.edt 16<sup>th</sup> April 2147
            %td.edt 7<sup>th</sup> April 2148
            %td.edt 30<sup>th</sup> March 2149
          %tr
            %td.edt 12<sup>th</sup> April 2150
            %td.edt 4<sup>th</sup> April 2151
            %td.edt 23<sup>rd</sup> April 2152
            %td.edt 15<sup>th</sup> April 2153
            %td.edt 31<sup>st</sup> March 2154
          %tr
            %td.edt 20<sup>th</sup> April 2155
            %td.edt 11<sup>th</sup> April 2156
            %td.edt 27<sup>th</sup> March 2157
            %td.edt 16<sup>th</sup> April 2158
            %td.edt 8<sup>th</sup> April 2159
          %tr
            %td.edt 23<sup>rd</sup> March 2160
            %td.edt 12<sup>th</sup> April 2161
            %td.edt 4<sup>th</sup> April 2162
            %td.edt 24<sup>th</sup> April 2163
            %td.edt 8<sup>th</sup> April 2164
          %tr
            %td.edt 31<sup>st</sup> March 2165
            %td.edt 20<sup>th</sup> April 2166
            %td.edt 5<sup>th</sup> April 2167
            %td.edt 27<sup>th</sup> March 2168
            %td.edt 16<sup>th</sup> April 2169
          %tr
            %td.edt 1<sup>st</sup> April 2170
            %td.edt 21<sup>st</sup> April 2171
            %td.edt 12<sup>th</sup> April 2172
            %td.edt 4<sup>th</sup> April 2173
            %td.edt 17<sup>th</sup> April 2174
          %tr
            %td.edt 9<sup>th</sup> April 2175
            %td.edt 31<sup>st</sup> March 2176
            %td.edt 20<sup>th</sup> April 2177
            %td.edt 5<sup>th</sup> April 2178
            %td.edt 28<sup>th</sup> March 2179
          %tr
            %td.edt 16<sup>th</sup> April 2180
            %td.edt 1<sup>st</sup> April 2181
            %td.edt 21<sup>st</sup> April 2182
            %td.edt 13<sup>th</sup> April 2183
            %td.edt 28<sup>th</sup> March 2184
          %tr
            %td.edt 17<sup>th</sup> April 2185
            %td.edt 9<sup>th</sup> April 2186
            %td.edt 25<sup>th</sup> March 2187
            %td.edt 13<sup>th</sup> April 2188
            %td.edt 5<sup>th</sup> April 2189
          %tr
            %td.edt 25<sup>th</sup> April 2190
            %td.edt 10<sup>th</sup> April 2191
            %td.edt 1<sup>st</sup> April 2192
            %td.edt 21<sup>st</sup> April 2193
            %td.edt 6<sup>th</sup> April 2194
          %tr
            %td.edt 29<sup>th</sup> March 2195
            %td.edt 17<sup>th</sup> April 2196
            %td.edt 9<sup>th</sup> April 2197
            %td.edt 25<sup>th</sup> March 2198
            %td.edt 14<sup>th</sup> April 2199
%blockquote.mainquote
  The dead man came out, wrapped hand and foot in a winding sheet; his face, too, had been wrapped in a cloth. ‘Set him free,’ said Jesus, ‘and let him go.’
  .where
    John 11
%h3.labeled.cleared#creeds Creeds
%blockquote.mainquote
  His command is this—that we should put our trust in the name of his Son, Jesus Christ, and love one another, in accordance with the command that he gave us.
  .where
    1 John 3
.articles
  .article
    %h4 Apostles’ Creed
    .copy
      %p
        We believe in God the Father almighty, creator of heaven and earth.
      %p
        We believe in Jesus Christ, his only Son, our Lord.
      %p
        He was conceived by the power of the Holy Spirit and born of the Virgin Mary.
      %p
        Under Pontius Pilate, He was crucified, died, and was buried.
      %p
        He descended to the dead. On the third day he rose again.
      %p
        He ascended into heaven and is seated at the right hand of the Father.
      %p
        He will come again to judge the living and the dead.
      %p
        We believe in the Holy Spirit,
      %p
        —The holy universal Church, the communion of saints,
      %p
        —The forgiveness of sins,
      %p
        —The resurrection of the body,
      %p
        —And the life everlasting.
      %p
        Amen.
.articles
  .article
    %h4 Nicene Creed
    .copy
      %p
        We believe in one God, the Father Almighty, Maker of heaven and earth, and of all things visible and invisible.
      %p
        And in one Lord Jesus Christ, the only-begotten Son of God, begotten of the Father before all worlds: God from God, Light from Light, true God from true God—begotten, not made—being of one substance with the Father;
      %p
        —By whom all things were made;
      %p
        —Who for us humans, and for our salvation, came down from heaven, and was made flesh, by the Holy Spirit, in the Virgin Mary, and was made human;
      %p
        —He was crucified for us under Pontius Pilate, and suffered, and was buried, and the third day he rose again, according to the Scriptures, and ascended into heaven, and sits on the right hand of the Father;
      %p
        —From thence he shall come again, with glory, to judge the living and the dead;
      %p
        —Whose kingdom shall have no end.
      %p
        And in the Holy Spirit, the Lord and Giver of life, who proceeds from the Father and the Son, who with the Father and the Son together is worshiped and glorified; who spoke by the prophets.
      %p
        In one holy universal and apostolic Church; we acknowledge one baptism for the remission of sins; we look for the resurrection of the dead, and the life of the world to come.
      %p Amen.
